$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$cheat-color-1: #1721ad !default;
$cheat-color-2: #4f5154 !default;
$cheat-color-3: #569bf8 !default;
$cheat-color-4: #5653c6 !default;

$cheat-color-5: #80d6d5 !default;
$cheat-color-6: #ab6349 !default;
$cheat-color-7: #a2b2c1 !default;

$cheat-white: #fff !default;
$cheat-black: #000 !default;

$cheat-gradient-primary: linear-gradient(120deg, $cheat-color-4 0%, $cheat-color-3 50%, $cheat-color-5);
$cheat-gradient-primary-alternate: linear-gradient(120deg, $cheat-color-4 0%, $cheat-color-3 25%, $cheat-color-5 50%);

$cheat-xs: 0 !default;
$cheat-sm: 30rem !default;
$cheat-md: 48rem !default;
$cheat-lg: 62rem !default;
$cheat-xl: 75rem !default;

$cheat-z-index-modal: 1050 !default;

$transition-duration: .2s !default;