<div class="sidebar">

    <!--<label class="sidebar-toggler" for="sidebar-toggler">-->
        <!--<i class="sidebar-toggler__icon"></i>-->
    <!--</label>-->

    <div class="sidebar__section sidebar__section--logo">

        <div class="sidebar-logo">
            <a href="#" class="sidebar-logo__wrapper">
                <h1 class="sidebar-logo__text" data-text="MyApp">MyApp</h1>
            </a>
        </div>

    </div>

    <div class="sidebar__section sidebar__section--user">

        <div class="sidebar-user">
            <div class="sidebar-user__avatar-wrapper">
                <img class="sidebar-user__avatar" src="https://randomuser.me/api/portraits/women/57.jpg" alt="User">
                <a class="sidebar-user__overlay" href="#">
                    <i class="material-icons sidebar-user__icon">add_a_photo</i>
                </a>
            </div>
            <div class="sidebar-user__name-wrapper">
                <a href="#" class="sidebar-user__name">Rita Cook</a>
                <i class="sidebar-user__status sidebar-user__status--online">Online</i>
            </div>
        </div>

    </div>

    <div class="sidebar__section sidebar__section--nav">

        <div class="sidebar-nav">
            <h4 class="sidebar-nav__header" data-toggled-shortcut="Nav">Navigation</h4>
            <ul>
                <li>
                    <a href="#" class="sidebar-nav__item sidebar-nav__item--primary">
                        <div class="sidebar-nav__icon-wrapper">
                            <i class="material-icons sidebar-nav__icon">home</i>
                        </div>
                        <span class="sidebar-nav__title">Home</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="sidebar-nav__item sidebar-nav__item--primary">
                        <div class="sidebar-nav__icon-wrapper">
                            <i class="material-icons sidebar-nav__icon">face</i>
                        </div>
                        <span class="sidebar-nav__title">Users</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="sidebar-nav__item sidebar-nav__item--primary">
                        <div class="sidebar-nav__icon-wrapper">
                            <i class="material-icons sidebar-nav__icon">favorite</i>
                        </div>
                        <span class="sidebar-nav__title">Favorite</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="sidebar-nav__item sidebar-nav__item--primary">
                        <div class="sidebar-nav__icon-wrapper">
                            <i class="material-icons sidebar-nav__icon">widgets</i>
                        </div>
                        <span class="sidebar-nav__title">Widgets</span>
                        <span class="sidebar-nav__notification">New</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div class="sidebar__section sidebar__section--nav">

        <div class="sidebar-nav">
            <h4 class="sidebar-nav__header" data-toggled-shortcut="Com">Community</h4>
            <ul>
                <li>
                    <a href="#" class="sidebar-nav__item sidebar-nav__item--secondary sidebar-nav__item--alert">
                        <div class="sidebar-nav__icon-wrapper">
                            <i class="material-icons sidebar-nav__icon">notifications_active</i>
                        </div>
                        <span class="sidebar-nav__title">Notifications</span>
                        <span class="sidebar-nav__notification">7</span>
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="sidebar-nav__item sidebar-nav__item--secondary">
                        <div class="sidebar-nav__icon-wrapper">
                            <i class="material-icons sidebar-nav__icon">mail</i>
                        </div>
                        <span class="sidebar-nav__title">Mail</span>
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="sidebar-nav__item sidebar-nav__item--secondary">
                        <div class="sidebar-nav__icon-wrapper">
                            <i class="material-icons sidebar-nav__icon">thumb_up</i>
                        </div>
                        <span class="sidebar-nav__title">Social</span>
                        <span class="sidebar-nav__notification">3</span>
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="sidebar-nav__item sidebar-nav__item--secondary">
                        <div class="sidebar-nav__icon-wrapper">
                            <i class="material-icons sidebar-nav__icon">date_range</i>
                        </div>
                        <span class="sidebar-nav__title">Calendar</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div class="sidebar__section sidebar__section--nav">

        <div class="sidebar-nav">
            <h4 class="sidebar-nav__header" data-toggled-shortcut="Set">Settings</h4>
            <ul>
                <li>
                    <a href="#" class="sidebar-nav__item">
                        <div class="sidebar-nav__icon-wrapper">
                            <i class="material-icons sidebar-nav__icon">person_pin</i>
                        </div>
                        <span class="sidebar-nav__title">Profile</span>
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="sidebar-nav__item">
                        <div class="sidebar-nav__icon-wrapper">
                            <i class="material-icons sidebar-nav__icon">settings</i>
                        </div>
                        <span class="sidebar-nav__title">General</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>

</div>