@import "~src/app/shared/cheat-modules/cheat-variables.scss";

$cheat-modal-width-lg: 50rem !default;
$cheat-modal-width: 35rem !default;
$cheat-modal-width-sm: 22.5rem !default;

$cheat-modal-transition-duration: .5s !default;
$cheat-modal-padding: 1rem !default;
$cheat-modal-border-radius: .5rem !default;

$cheat-modal-box-shadow: 0 1rem 3rem rgba($black, .175) !default;

$cheat-modal-dialog-margin: .5rem !default;
$cheat-modal-dialog-margin-y-sm-up: 1.75rem !default;

$cheat-modal-content-bg: $white !default;

$cheat-modal-border-width: 1px !default;
$cheat-modal-border-color: rgba($black, .05) !default;

:host {
    position: fixed;
    z-index: $cheat-z-index-modal;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.cheat-modal {
    margin: $cheat-modal-dialog-margin;
    min-height: calc(100% - (#{$cheat-modal-dialog-margin} * 2));
    width: 100%;
    //pointer-events: none; // Currently Angular events doesn't work with this rule.
    display: flex;
    align-items: center;

    .cheat-modal__content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        background: $cheat-modal-content-bg;
        border: $cheat-modal-border-width solid $cheat-modal-border-color;
        box-shadow: $cheat-modal-box-shadow;
        border-radius: $cheat-modal-border-radius;
    }

    .cheat-modal__header {
        display: flex;
        align-items: flex-start; // So the close btn always stays on the upper right corner.
        justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends.
        padding: $cheat-modal-padding;
        //border-bottom: $cheat-modal-border-width solid $cheat-modal-border-color;
    }

    .cheat-modal__body { padding: $cheat-modal-padding; }

    .cheat-modal__footer {
        padding: $cheat-modal-padding;
        border-top: $cheat-modal-border-width solid $cheat-modal-border-color;
    }

    .cheat-modal__close {
        padding: $cheat-modal-padding;
        margin: (-$cheat-modal-padding) (-$cheat-modal-padding) (-$cheat-modal-padding) auto;
        cursor: pointer;
    }

}

@media (min-width: $cheat-sm) {

    .cheat-modal {
        max-width: $cheat-modal-width;
        margin: $cheat-modal-dialog-margin-y-sm-up auto;
        min-height: calc(100% - (#{$cheat-modal-dialog-margin-y-sm-up} * 2));
    }

}
