<div class="cheat-modal">
    <div class="cheat-modal__content">
        <div class="cheat-modal__header">
            <h5 class="cheat-modal__title" *ngIf="config.title">{{ config.title }}</h5>
            <button type="button" class="cheat-modal__close" (click)="close()" *ngIf="config.closeBtn">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="cheat-modal__body">
            <ng-container #body></ng-container>
        </div>
        <!--<div class="cheat-modal__footer">-->
            <!--<button type="button">Close</button>-->
            <!--<button type="button">Save changes</button>-->
            <!--<cheat-btn></cheat-btn>-->
        <!--</div>-->
    </div>
</div>