<div class="login">

    <form [formGroup]="form" (ngSubmit)="login()">
        <div>
            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" type="password" formControlName="password">
        </div>
        <div>
            <cheat-btn></cheat-btn>
        </div>
    </form>

</div>