@import "~src/app/shared/cheat-modules/cheat-variables.scss";

$btn-line-height: 1 !default;
$btn-transition-property: background-position;
$btn-transition-duration: $transition-duration;

$btn-padding-x: .75rem !default;
$btn-padding-x-sm: .5rem !default;
$btn-padding-x-lg: 1rem !default;

$btn-padding-y: .75rem !default;
$btn-padding-y-sm: .5rem !default;
$btn-padding-y-lg: 1rem !default;

$btn-font-size: 1rem !default;
$btn-font-size-sm: .875rem !default;
$btn-font-size-lg: 1.25rem !default;

$btn-border-radius: .25rem !default;
$btn-border-radius-lg: .3rem !default;
$btn-border-radius-sm: .2rem !default;


@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
    padding: $padding-y $padding-x;
    font-size: $font-size;
    border-radius: $border-radius;
}

.cheat-btn {
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
    background-image: $cheat-gradient-primary-alternate;
    line-height: $btn-line-height;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    width: 100%;
    background-size: 200%;
    transition-property: $btn-transition-property;
    transition-duration: $btn-transition-duration;

    &:hover { background-position: 15% center; }

    &.cheat-btn--sm {
        @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
    }

    &.cheat-btn--lg {
        @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
    }

}