@import "~src/scss/variables";

.navbar {
    background: red;
    height: 3.5rem;
    background: $light;
    box-shadow: $shadow-10;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;

    .navbar__wrapper {
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    .navbar__section {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        height: 100%;
    }

}

@media (max-width: 48rem) {

    .navbar {

        .navbar__section.navbar__section--navbar-user { display: none; }

    }

}

@import "./navbar-search";
@import "./navbar-lang-switcher";
@import "./navbar-sign-out";