<div class="navbar">

    <!-- Wyszukiwarka -->
    <div class="navbar-search">
        <label for="search-input" class="navbar-search__label-icon">
            <i class="material-icons navbar-search__icon">search</i>
            <span class="navbar-search__slogan">Search</span>
        </label>
    </div>

    <div class="navbar__wrapper">
        <div class="navbar__section">

            <!-- Zmieniarka języków -->
            <div class="navbar-lang-switcher">
                <a href="#" class="navbar-lang-switcher__flag--wrapper navbar-lang-switcher__flag--wrapper--active">
                    <i class="navbar-lang-switcher__flag navbar-lang-switcher__flag--poland"></i>
                    <span class="lang_switcher__country-name">Polski</span>
                </a>
                <ul class="navbar-lang-switcher__flag-list">

                    <!-- Włoski -->
                    <li>
                        <a href="#" class="navbar-lang-switcher__flag--wrapper">
                            <i class="navbar-lang-switcher__flag navbar-lang-switcher__flag--italy"></i>
                            <span class="lang_switcher__country-name">Italiano</span>
                        </a>
                    </li>

                    <!-- Grecki -->
                    <li>
                        <a href="#" class="navbar-lang-switcher__flag--wrapper">
                            <i class="navbar-lang-switcher__flag navbar-lang-switcher__flag--greece"></i>
                            <span class="lang_switcher__country-name">Greece</span>
                        </a>
                    </li>

                    <!-- Czeski -->
                    <li>
                        <a href="#" class="navbar-lang-switcher__flag--wrapper">
                            <i class="navbar-lang-switcher__flag navbar-lang-switcher__flag--czech-republic"></i>
                            <span class="lang_switcher__country-name">Cech Republic</span>
                        </a>
                    </li>

                    <!-- Seszele -->
                    <li>
                        <a href="#" class="navbar-lang-switcher__flag--wrapper">
                            <i class="navbar-lang-switcher__flag navbar-lang-switcher__flag--seychelles"></i>
                            <span class="lang_switcher__country-name">Seychelles</span>
                        </a>
                    </li>

                    <!-- Grenadyny -->
                    <li>
                        <a href="#" class="navbar-lang-switcher__flag--wrapper">
                            <i class="navbar-lang-switcher__flag navbar-lang-switcher__flag--grenadines"></i>
                            <span class="lang_switcher__country-name">Grenadines</span>
                        </a>
                    </li>

                    <!-- Malediwy -->
                    <li>
                        <a href="#" class="navbar-lang-switcher__flag--wrapper">
                            <i class="navbar-lang-switcher__flag navbar-lang-switcher__flag--maldives"></i>
                            <span class="lang_switcher__country-name">Maldives</span>
                        </a>
                    </li>

                    <!-- Stant Zjednoczone -->
                    <li>
                        <a href="#" class="navbar-lang-switcher__flag--wrapper">
                            <i class="navbar-lang-switcher__flag navbar-lang-switcher__flag--united-states"></i>
                            <span class="lang_switcher__country-name">United States</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="navbar__section navbar__section--navbar-user">

            <!-- Nazwa oaz status użytkownika -->
            <div class="sidebar-user sidebar-user--slim">

                <!-- Avatar użytkownika -->
                <div class="sidebar-user__avatar-wrapper">
                    <img class="sidebar-user__avatar" src="https://randomuser.me/api/portraits/women/57.jpg" alt="User">
                    <a href="#" class="sidebar-user__overlay">
                        <i class="material-icons sidebar-user__icon">add_a_photo</i>
                    </a>
                </div>

                <!-- Nazwa oaz status użytkownika -->
                <div class="sidebar-user__name-wrapper">
                    <a href="#" class="sidebar-user__name">Rita Cook</a>
                    <i class="sidebar-user__status sidebar-user__status--online">Online</i>
                </div>

            </div>

        </div>
        <div class="navbar__section">

            <!-- Przycisk wylogowywania -->
            <div class="navbar-sign-out">
                <a href="#" class="navbar-sign-out__button">

                    <i class="material-icons navbar-sign-out__icon">power_settings_new</i>
                    <i class="material-icons navbar-sign-out__icon">sentiment_very_satisfied</i>

                    <div class="navbar-sign-out__letters-wrapper">
                        <span class="navbar-sign-out__letter">S</span>
                        <span class="navbar-sign-out__letter">i</span>
                        <span class="navbar-sign-out__letter">g</span>
                        <span class="navbar-sign-out__letter">n</span>
                        &nbsp;
                        <span class="navbar-sign-out__letter">o</span>
                        <span class="navbar-sign-out__letter">u</span>
                        <span class="navbar-sign-out__letter">t</span>
                    </div>

                    <div class="navbar-sign-out__letters-wrapper navbar-sign-out__letters-wrapper--hidden">
                        <span class="navbar-sign-out__letter">S</span>
                        <span class="navbar-sign-out__letter">e</span>
                        <span class="navbar-sign-out__letter">e</span>
                        &nbsp;
                        <span class="navbar-sign-out__letter">y</span>
                        <span class="navbar-sign-out__letter">o</span>
                        <span class="navbar-sign-out__letter">u</span>
                    </div>

                </a>
            </div>

        </div>
    </div>
</div>
