<div class="app" #app>
    <m-sidebar></m-sidebar>
    <div class="app__page">
        <m-navbar></m-navbar>
        <div class="app__router-container">
            <div class="test" (click)="openModal()">klik</div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>