@import "scss/variables";
@import "scss/reset";
@import "scss/grid";

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

button {
    font-size: $font-size-sm;
    color: $dark-secondary;
    padding: 0;
    line-height: 1.1;
    transition: color $transition-duration;
    cursor: pointer;
    border: none;
    background: none;

    &:hover, &:focus { color: $primary; }

}

span, p {
    color: $dark-secondary;
    font-size: $font-size-sm;
    line-height: 1.25;
}

h2 {
    font-size: $font-size-xl;
    color: $dark-secondary;
}

h3 {
    font-size: $font-size-md;
    color: $dark-disabled;
    text-transform: uppercase;
}

.app {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    transition: transform $transition-duration;

    .app__page {
        width: calc(100% - 12rem);
        background: $grey-50;
        box-shadow: 0 12px 20px rgba(0, 0, 0, .2);
        position: relative;
        z-index: 1;
        transition: width $transition-duration;
    }

    .app__router-container {
        padding: 1rem;
    }

}

@media (max-width: 48rem) { // 768px

    .app {
        flex-direction: column;

        .app__page {
            width: 100%;
            padding-top: 3rem;
        }

    }

}