$primary: #9c27b0;
$secondary: #ffa726;
$success: #8BC34A;

$dark: rgba(#000, .87);
$dark-secondary: rgba(#000, .54);
$dark-disabled: rgba(#000, .38);

$light: #fff;
$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-300: #e0e0e0;

$flag-white: $light;
$flag-red: #ce1126;
$flag-green: #009639;
$flag-blue: #005eb8;
$flag-yellow: #fed141;

$gradient-primary: linear-gradient(45deg, $primary 0, lighten($primary, 17%) 50%, $primary 100%);
$gradient-secondary: linear-gradient(45deg, $secondary 0, lighten($secondary, 15%) 75%, $secondary 100%);

$font-size-xxs: .625rem;
$font-size-xs: .75rem;
$font-size-sm: .9rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;

$font-weight-normal: 400;
$font-weight-bold: 700;

$shadow-10: 0 .25rem 1rem rgba(0, 0, 0, 0.15);
$shadow-20: 0 .75rem 1.25rem rgba(0, 0, 0, 0.2);
$shadow-primary: 0 .75rem 1.25rem rgba($primary, 0.2);
$shadow-secondary: 0 .75rem 1.25rem rgba($secondary, 0.2);

$transition-duration: .2s;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$xs: 0 !default;
$sm: 30rem !default;
$md: 48rem !default;
$lg: 62rem !default;
$xl: 75rem !default;

$line-height-lg:              1.5 !default;
$line-height-sm:              1.25 !default;

$border-width:                1px !default;
$border-color:                $gray-300 !default;

$border-radius:               .25rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;

$component-active-color:      $white !default;

$transition-base:             all .2s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;
$transition-collapse:         height .35s ease !default;